html {
  width: 100%;
  height: 100%;
}
html ::-webkit-scrollbar {
  width: 2px;
  height: 0;
}
html ::-webkit-scrollbar-track {
  background-color: #152028;
}
html ::-webkit-scrollbar-thumb {
  background-color: #aaa;
}
html ::-webkit-scrollbar-thumb:hover {
  background-color: #ccc;
}
body {
  /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body .parent-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100%;
  background: #1C2B35;
  color: #BDC3C7;
}
body .ui-view-container {
  width: 100%;
  height: 100%;
}
body .container {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}
body .details {
  width: 400px;
  min-width: 400px;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
              -ms-grid-row-align: stretch;
          align-self: stretch;
  background: #152028;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  overflow: auto;
  box-shadow: -5px 0px 24px 11px rgba(21, 32, 40, 0.21);
}
body .details header {
  height: 80px;
  font-size: 30px;
  padding-top: 15px;
  letter-spacing: 10px;
  font-weight: 100;
  text-align: center;
}
body .details .line-items {
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
body .details .line-items .line-item {
  height: 30px;
}
nav {
  /*border-right: 5px solid;
        border-right-color: #152028;*/
  background: #0E161B;
  width: 80px;
  min-width: 80px;
  height: 100%;
  overflow-y: auto;
}
nav a {
  height: 80px;
  font-size: 10px;
  color: #BDC3C7;
  text-decoration: none !important;
  text-transform: uppercase;
  text-align: center;
  display: block;
}
nav a img {
  margin: 18px 28px 5px;
  width: 24px;
}
nav a.active,
nav a:hover,
nav a:visited {
  background: #152028;
  color: #BDC3C7;
}
