<div class="container">   

    <div class="details-container">

        <header>
            KickAssTrip
        </header>

        <div class="details-content">
            <div class="menu-btn"><a ui-sref="search.countries">Countries</a></div>
            <div class="menu-btn"><a ui-sref="search.people">People</a></div>
            <div class="menu-btn"><a ui-sref="search.projects">Projects</a></div>         

<!--2 different ways of how to call directive functions from outside without events-->
            <!--<button ng-click="vm.mapControl.takeTablet()">Call directive function</button>
            <button ng-click="vm.doSmth()">Call directive function</button>
            <b>In controller scope:</b>
            {{vm.mapControl}}-->
<!---->
            <!--<input id="map-search" type="text" ng-model="vm.searchValue" uib-typeahead="state for state in vm.states | filter:$viewValue | limitTo:8" class="form-control">-->
            <br>
            <input id="map-search"ng-model="vm.searchValue" class="form-control">
            <!--<br>
            <button ng-click="vm.mapControl.search({searchValue: vm.searchValue})">search</button>-->
        </div>
        
    </div>

    <ui-view class="content-container flex-rows"></ui-view> 

</div>  
    
