<div class="container">   

    <div class="details-container">

        <header>
            KickAssTrip
        </header>

        <div class="details-content">
            <a ui-sref="home.details">Dashboard</a><br>
            <a ui-sref="home.map">Map</a><br>
            <a ui-sref="home.map">Blog</a><br>
            <a ui-sref="home.map">News</a><br>
            <a ui-sref="home.map">Messages</a><br><br><br>


            <button ng-click="vm.alert()">Add Alert</button><br>
            <button ng-click="vm.log()">aaaaaa</button>
        </div>
        
    </div>

    <ui-view class="content-container"></ui-view> 

</div>  
    
